@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.newscard{
    width: 100%;
}


.newsApp{
    max-width: 1024px;
    margin: 0 auto;
}

.articleTitle{
    font-size: 1.2em;
}